# Задание 1: Введение в предобработку данных

# Import libraries

In [1]:
import os
import pandas as pd
import numpy as np
import scipy
import string

## Define paths

In [2]:
root_path = '.'
data_path = os.path.join(root_path, 'data')

## View all files in data folder

In [3]:
for _, _, files in os.walk(data_path):
    for file in files:
        print(file)

gender_submission.csv
test.csv
titanic.csv
train.csv

## Define all data files to load data

In [4]:
train_file = os.path.join(data_path, 'train.csv')
test_file = os.path.join(data_path, 'test.csv')
submission_file = os.path.join(data_path, 'gender_submission.csv')
titanic_file = os.path.join(data_path, 'titanic.csv')

In [5]:
print(os.path.exists(titanic_file))

True

In [6]:
data = pd.read_csv(titanic_file, index_col='PassengerId')

## Get some common information about dataset

In [7]:
data.describe()

         Survived      Pclass         Age       SibSp       Parch        Fare
count  890.000000  890.000000  713.000000  890.000000  890.000000  890.000000
mean     0.384270    2.308989   29.711318    0.523596    0.382022   32.157808
std      0.486696    0.836477   14.533034    1.103224    0.806409   49.702054
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.000000    0.000000    0.000000    7.903100
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

In [8]:
data.head()

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [9]:
data[:10]

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [10]:
data.shape

(890, 11)

In [11]:
print(data['Pclass'])

PassengerId
1      3
2      1
3      3
4      1
5      3
      ..
887    2
888    1
889    3
890    1
891    3
Name: Pclass, Length: 890, dtype: int64

In [12]:
data['Pclass'].value_counts()

3    491
1    216
2    183
Name: Pclass, dtype: int64

## Инструкция по выполнению

### Get column names

In [13]:
data.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp', 'Parch', 'Ticket',
       'Fare', 'Cabin', 'Embarked'],
      dtype='object')

### 1. Какое количество мужчин и женщин ехало на корабле? В качестве ответа приведите два числа.

In [14]:
number_male = data[data['Sex']=='male'].shape[0]
number_female = data[data['Sex']=='female'].shape[0]

In [15]:
number_male, number_female

(576, 314)

### 2. Какой части пассажиров удалось выжить? Посчитайте долю выживших пассажиров. Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков после запятой.

In [16]:
live = data[data['Survived']==0].shape[0]
print(live)

548

In [17]:
print(live/float(data.shape[0])*100)

61.573033707865164

### 3. Какую долю пассажиры первого класса составляли среди всех пассажиров? Ответ приведите в процентах (число в интервале от 0 до 100, знак процента не нужен), округлив до двух знаков после запятой.

In [18]:
print(set(data['Pclass']))

{1, 2, 3}

In [19]:
first = data[data['Pclass']==1].shape[0]
print(first)

216

In [20]:
print(first/float(data.shape[0])*100)

24.269662921348313

### 4. Какого возраста были пассажиры? Посчитайте среднее и медиану возраста пассажиров. В качестве ответа приведите два числа.

In [21]:
# Get all ages in the dataset
ages = list(data['Age'])

In [22]:
# Exclude all NaN value from ages
real_ages = list()
for age in ages:
    if not str(age).upper()=='NAN':
        real_ages.append(age)

In [23]:
len(real_ages)

713

In [24]:
print(sorted(real_ages))

[0.42, 0.67, 0.75, 0.75, 0.83, 0.83, 0.92, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 1.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 2.0, 3.0, 3.0, 3.0, 3.0, 3.0, 3.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 4.0, 5.0, 5.0, 5.0, 5.0, 6.0, 6.0, 6.0, 7.0, 7.0, 7.0, 8.0, 8.0, 8.0, 8.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 9.0, 10.0, 10.0, 11.0, 11.0, 11.0, 11.0, 12.0, 13.0, 13.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.0, 14.5, 15.0, 15.0, 15.0, 15.0, 15.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 16.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 17.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 18.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 19.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.0, 20.5, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 21.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 22.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.0, 23.5, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.0, 24.5, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 25.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 26.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 27.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.0, 28.5, 28.5, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 29.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.0, 30.5, 30.5, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 31.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.0, 32.5, 32.5, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 33.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.0, 34.5, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 35.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.0, 36.5, 37.0, 37.0, 37.0, 37.0, 37.0, 37.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 38.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 39.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.0, 40.5, 40.5, 41.0, 41.0, 41.0, 41.0, 41.0, 41.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 42.0, 43.0, 43.0, 43.0, 43.0, 43.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 44.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.0, 45.5, 45.5, 46.0, 46.0, 46.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 47.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 48.0, 49.0, 49.0, 49.0, 49.0, 49.0, 49.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 50.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 51.0, 52.0, 52.0, 52.0, 52.0, 52.0, 52.0, 53.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 54.0, 55.0, 55.0, 55.5, 56.0, 56.0, 56.0, 56.0, 57.0, 57.0, 58.0, 58.0, 58.0, 58.0, 58.0, 59.0, 59.0, 60.0, 60.0, 60.0, 60.0, 61.0, 61.0, 61.0, 62.0, 62.0, 62.0, 62.0, 63.0, 63.0, 64.0, 64.0, 65.0, 65.0, 65.0, 66.0, 70.0, 70.0, 70.5, 71.0, 71.0, 74.0, 80.0]

In [25]:
# Calculate mean and median
mean_age = np.mean(real_ages)
median_age = np.median(real_ages)

In [26]:
print('mean={}, median={}'.format(mean_age, median_age))

mean=29.711318373071528, median=28.0

### 5. Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? Посчитайте корреляцию Пирсона между признаками SibSp и Parch, округлив до двух знаков после запятой.

In [27]:
# Get all names in the dataset
names = data['Name']

In [28]:
# Get different names in the dataset
print(len(set(names)))

890

In [29]:
print(len(names))

890

In [30]:
SibSp = data['SibSp']
Parch = data['Parch']

In [31]:
print(len(set(SibSp)), len(set(Parch)))

7 7

**Коррелируют ли число братьев/сестер/супругов с числом родителей/детей? --> да, но не сильно (нормально коррелируют)**

In [32]:
from scipy import stats, optimize, interpolate
pearson_correlation = scipy.stats.pearsonr(SibSp, Parch)

 	Coefficient, r
    Strength of Association	 Positive    	Negative

     Small	           .1 to .3	-0.1 to -0.3

    Medium	           .3 to .5	-0.3 to -0.5

    Large	          .5 to 1.0	-0.5 to -1.0

In [65]:
corr = float(pearson_correlation[0])
print(round(corr,2))
# print(corr)

0.41

### 6. Какое самое популярное женское имя на корабле? Извлеките из полного имени пассажира (колонка Name) его личное имя (First Name). Это задание — типичный пример того, с чем сталкивается специалист по анализу данных. Данные очень разнородные и шумные, но из них требуется извлечь необходимую информацию. Попробуйте вручную разобрать несколько значений столбца Name и выработать правило для извлечения имен, а также разделения их на женские и мужские.

In [34]:
# Get all data for female
female_data = data[data['Sex']=='female']

In [35]:
# Get all names of women
female_names = female_data['Name']

In [36]:
female_names

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [37]:
len(set(female_names))

314

In [38]:
female_names

PassengerId
2      Cumings, Mrs. John Bradley (Florence Briggs Th...
3                                 Heikkinen, Miss. Laina
4           Futrelle, Mrs. Jacques Heath (Lily May Peel)
9      Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                   Nasser, Mrs. Nicholas (Adele Achem)
                             ...
881         Shelley, Mrs. William (Imanita Parrish Hall)
883                         Dahlberg, Miss. Gerda Ulrika
886                 Rice, Mrs. William (Margaret Norton)
888                         Graham, Miss. Margaret Edith
889             Johnston, Miss. Catherine Helen "Carrie"
Name: Name, Length: 314, dtype: object

In [39]:
count = 0
for name in female_names:
    if 'ANNA' in name.upper():
        count+=1
print(count)

20

In [40]:
# Get families, titles and names
def get_names(data):
    families=[]
    titles = []
    new_name = []
    #for each row in dataset:
    for i in range(len(data)):
        name = data.iloc[i]
        # extract name inside brakets into name_bracket:
        if '(' in name:
            name_no_bracket = name.split('(')[0] 
        else:
            name_no_bracket = name
            
        family = name_no_bracket.split(",")[0]
        title = name_no_bracket.split(",")[1].strip().split(" ")[0]
        
        #remove punctuations accept brackets:
        for c in string.punctuation:
            name = name.replace(c,"").strip()
            family = family.replace(c,"").strip()
            title = title.replace(c,"").strip()
            
        families.append(family)
        titles.append(title)
        new_name.append(name)
            
    return families, titles, new_name

In [41]:
families, titles, new_names = get_names(data=female_names)

In [42]:
# families, titles, new_names
# new_names
set(titles)
# families

{'Dr', 'Lady', 'Miss', 'Mlle', 'Mme', 'Mrs', 'Ms', 'the'}

In [43]:
name_dict = dict()
families = set(families)
titles = set(titles)
for name in new_names:
    strs = name.split(' ')
    for st in strs:
        if st in families:
            continue
        if st in titles:
            continue
        if st in name_dict:
            name_dict[st] += 1
        else:
            name_dict[st] = 1

In [44]:
sorted(name_dict.items(), key=lambda x: x[1], reverse=True)

[('Mary', 20),
 ('Anna', 17),
 ('Elizabeth', 15),
 ('William', 15),
 ('Margaret', 12),
 ('Maria', 11),
 ('John', 8),
 ('Annie', 8),
 ('Alice', 8),
 ('Helen', 7),
 ('Kate', 7),
 ('Catherine', 7),
 ('Marie', 6),
 ('Joseph', 6),
 ('Sofia', 6),
 ('Thomas', 6),
 ('Edith', 6),
 ('Florence', 5),
 ('Augusta', 5),
 ('Ellen', 5),
 ('Anne', 5),
 ('Bertha', 5),
 ('Ada', 5),
 ('Louise', 5),
 ('Frederick', 5),
 ('Jane', 5),
 ('Elisabeth', 4),
 ('Emily', 4),
 ('Matilda', 4),
 ('Alexander', 4),
 ('Katherine', 4),
 ('James', 4),
 ('Martha', 4),
 ('de', 4),
 ('E', 4),
 ('Marion', 4),
 ('Elsie', 4),
 ('Charles', 4),
 ('Edward', 4),
 ('Samuel', 4),
 ('Ann', 3),
 ('Delia', 3),
 ('Lillian', 3),
 ('Amy', 3),
 ('Mabel', 3),
 ('A', 3),
 ('Katie', 3),
 ('Madeleine', 3),
 ('Amelia', 3),
 ('Hanora', 3),
 ('Nora', 3),
 ('Walton', 3),
 ('y', 3),
 ('Albert', 3),
 ('Agnes', 3),
 ('Jessie', 3),
 ('L', 3),
 ('Ida', 3),
 ('Ethel', 3),
 ('Lily', 2),
 ('May', 2),
 ('Oscar', 2),
 ('W', 2),
 ('Adele', 2),
 ('Vander', 2),
 ('Planke', 2),
 ('Emilia', 2),
 ('Nellie', 2),
 ('Eugenie', 2),
 ('Johan', 2),
 ('Johanna', 2),
 ('Dorothy', 2),
 ('Bridget', 2),
 ('Constance', 2),
 ('Alexandra', 2),
 ('Susan', 2),
 ('Mathilde', 2),
 ('Monypeny', 2),
 ('Maggie', 2),
 ('Bessie', 2),
 ('Gladys', 2),
 ('Gretchen', 2),
 ('Hannah', 2),
 ('Rosa', 2),
 ('Marjorie', 2),
 ('Gertrude', 2),
 ('Charlotta', 2),
 ('H', 2),
 ('Helene', 2),
 ('Miriam', 2),
 ('Hall', 2),
 ('Frank', 2),
 ('Jean', 2),
 ('Clara', 2),
 ('Sophia', 2),
 ('Rosalie', 2),
 ('Marija', 2),
 ('Daisy', 2),
 ('Van', 2),
 ('Impe', 2),
 ('Sigrid', 2),
 ('Brogren', 2),
 ('Lucile', 2),
 ('Polk', 2),
 ('Sidney', 2),
 ('R', 2),
 ('Arthur', 2),
 ('Hedwig', 2),
 ('C', 2),
 ('Hughes', 2),
 ('Lucy', 2),
 ('Emma', 2),
 ('Charlotte', 2),
 ('Alfrida', 2),
 ('Solomon', 2),
 ('Ernest', 2),
 ('George', 2),
 ('Bradley', 1),
 ('Briggs', 1),
 ('Laina', 1),
 ('Jacques', 1),
 ('Heath', 1),
 ('Peel', 1),
 ('Vilhelmina', 1),
 ('Berg', 1),
 ('Nicholas', 1),
 ('Achem', 1),
 ('Marguerite', 1),
 ('Rut', 1),
 ('Hulda', 1),
 ('Amanda', 1),
 ('Adolfina', 1),
 ('D', 1),
 ('Kingcome', 1),
 ('Julius', 1),
 ('Emelia', 1),
 ('Vandemoortele', 1),
 ('Fatima', 1),
 ('Torborg', 1),
 ('Danira', 1),
 ('Carl', 1),
 ('Selma', 1),
 ('Johansson', 1),
 ('Augustus', 1),
 ('Agatha', 1),
 ('Jamila', 1),
 ('Persdotter', 1),
 ('Larsson', 1),
 ('Wonnacott', 1),
 ('Simonne', 1),
 ('Andree', 1),
 ('Josef', 1),
 ('Josefine', 1),
 ('Franchi', 1),
 ('Sleeper', 1),
 ('Myna', 1),
 ('Haxtun', 1),
 ('Lizzie', 1),
 ('Wilkinson', 1),
 ('Mirium', 1),
 ('Amelie', 1),
 ('Ramell', 1),
 ('Erna', 1),
 ('Brigdet', 1),
 ('Karl', 1),
 ('Alfred', 1),
 ('Mathilda', 1),
 ('Gustafsson', 1),
 ('T', 1),
 ('Julia', 1),
 ('Bone', 1),
 ('Kristine', 1),
 ('Hileni', 1),
 ('Katriina', 1),
 ('Malake', 1),
 ('Ellis', 1),
 ('Grace', 1),
 ('Charity', 1),
 ('Laury', 1),
 ('Leopold', 1),
 ('Francoise', 1),
 ('Pede', 1),
 ('Sultana', 1),
 ('Pekka', 1),
 ('Pietari', 1),
 ('Elin', 1),
 ('Dolck', 1),
 ('Robina', 1),
 ('Ruby', 1),
 ('Wearne', 1),
 ('Inglis', 1),
 ('Milne', 1),
 ('Bernhardina', 1),
 ('Karlsson', 1),
 ('Eleanor', 1),
 ('Ileen', 1),
 ('Luise', 1),
 ('Godfrey', 1),
 ('Carla', 1),
 ('Christine', 1),
 ('Nielsine', 1),
 ('Tobin', 1),
 ('Elise', 1),
 ('Henriette', 1),
 ('Harbeck', 1),
 ('Telma', 1),
 ('Clear', 1),
 ('Eliina', 1),
 ('Albina', 1),
 ('Birkhardt', 1),
 ('Irene', 1),
 ('Wallach', 1),
 ('Gertrud', 1),
 ('Phoebe', 1),
 ('Lottie', 1),
 ('Thamine', 1),
 ('Agda', 1),
 ('Thorilda', 1),
 ('Viktoria', 1),
 ('Wilhelm', 1),
 ('Elna', 1),
 ('Persson', 1),
 ('Viktor', 1),
 ('Helena', 1),
 ('Wilhelmina', 1),
 ('Darwis', 1),
 ('Hanne', 1),
 ('Youssef', 1),
 ('Razi', 1),
 ('Maybelle', 1),
 ('Lutie', 1),
 ('Thompson', 1),
 ('Junkins', 1),
 ('Maidment', 1),
 ('Kornelia', 1),
 ('Theodosia', 1),
 ('Stanton', 1),
 ('Hunt', 1),
 ('Dickinson', 1),
 ('Aloisia', 1),
 ('Loraine', 1),
 ('DeLaudeniere', 1),
 ('Chaput', 1),
 ('Penasco', 1),
 ('Castellana', 1),
 ('Victor', 1),
 ('Satode', 1),
 ('Josefa', 1),
 ('Perez', 1),
 ('Soto', 1),
 ('Vallejo', 1),
 ('Laura', 1),
 ('Bechstein', 1),
 ('Borie', 1),
 ('Sylfven', 1),
 ('Helmina', 1),
 ('Josefina', 1),
 ('Sinai', 1),
 ('Sternin', 1),
 ('Natalie', 1),
 ('Frederic', 1),
 ('Oakley', 1),
 ('Margaretta', 1),
 ('Corning', 1),
 ('Hilda', 1),
 ('Francis', 1),
 ('Sylvia', 1),
 ('Mae', 1),
 ('Harbaugh', 1),
 ('Grice', 1),
 ('Heinsheimer', 1),
 ('Mildred', 1),
 ('Finck', 1),
 ('Clemmer', 1),
 ('Ellie', 1),
 ('David', 1),
 ('Manley', 1),
 ('Atkinson', 1),
 ('Mantoura', 1),
 ('Leontine', 1),
 ('Pauline', 1),
 ('Stina', 1),
 ('Viola', 1),
 ('Edgar', 1),
 ('Leila', 1),
 ('Saks', 1),
 ('Aurora', 1),
 ('Adelia', 1),
 ('Oskar', 1),
 ('Aline', 1),
 ('Towner', 1),
 ('Hjalmar', 1),
 ('Bengtsson', 1),
 ('Elina', 1),
 ('Mari', 1),
 ('Aina', 1),
 ('Rowley', 1),
 ('Vivian', 1),
 ('Lulu', 1),
 ('Christian', 1),
 ('Lyyli', 1),
 ('Karoliina', 1),
 ('Catharina', 1),
 ('Ernst', 1),
 ('Gilbert', 1),
 ('V', 1),
 ('Winfield', 1),
 ('Marshall', 1),
 ('Percival', 1),
 ('White', 1),
 ('Adelaide', 1),
 ('Slow', 1),
 ('Doolina', 1),
 ('Benjamin', 1),
 ('Esther', 1),
 ('Bloomfield', 1),
 ('Encarnacion', 1),
 ('Violet', 1),
 ('Edwy', 1),
 ('Worth', 1),
 ('Amin', 1),
 ('S', 1),
 ('Marthe', 1),
 ('Thuillard', 1),
 ('Hildur', 1),
 ('Jeannie', 1),
 ('Maxfield', 1),
 ('Forby', 1),
 ('Mussey', 1),
 ('Hudson', 1),
 ('J', 1),
 ('Waldo', 1),
 ('Daniels', 1),
 ('Kristina', 1),
 ('Roberta', 1),
 ('Martin', 1),
 ('Barrett', 1),
 ('Milley', 1),
 ('Louis', 1),
 ('Fischer', 1),
 ('Phyllis', 1),
 ('Rizk', 1),
 ('Eva', 1),
 ('Margaritha', 1),
 ('Harriet', 1),
 ('Ingeborg', 1),
 ('Constanzia', 1),
 ('Velin', 1),
 ('Duff', 1),
 ('Gordon', 1),
 ('Lucille', 1),
 ('Christiana', 1),
 ('Sutherland', 1),
 ('Morgan', 1),
 ('Emil', 1),
 ('Tillie', 1),
 ('Mandelbaum', 1),
 ('Messemaeker', 1),
 ('Guillaume', 1),
 ('Ogden', 1),
 ('Nils', 1),
 ('Alma', 1),
 ('Cornelia', 1),
 ('Berglund', 1),
 ('Dale', 1),
 ('Lamson', 1),
 ('Baird', 1),
 ('Munger', 1),
 ('Elias', 1),
 ('Julie', 1),
 ('Rachel', 1),
 ('Borland', 1),
 ('Marian', 1),
 ('Longstreth', 1),
 ('Morris', 1),
 ('Ruth', 1),
 ('Walter', 1),
 ('Bertram', 1),
 ('Wills', 1),
 ('Frances', 1),
 ('Juliette', 1),
 ('Lafargue', 1),
 ('Anders', 1),
 ('Konstantia', 1),
 ('Cordelia', 1),
 ('K', 1),
 ('Stanlick', 1),
 ('Fiske', 1),
 ('Juha', 1),
 ('Ojala', 1),
 ('Margit', 1),
 ('Zillah', 1),
 ('Norah', 1),
 ('Elmer', 1),
 ('Zebley', 1),
 ('Juliet', 1),
 ('Cummins', 1),
 ('Wright', 1),
 ('Tyler', 1),
 ('Georgette', 1),
 ('Manca', 1),
 ('Jacob', 1),
 ('Talmadge', 1),
 ('Force', 1),
 ('Saiide', 1),
 ('Fannie', 1),
 ('Berthe', 1),
 ('Antonine', 1),
 ('Villiers', 1),
 ('Caroline', 1),
 ('Edwina', 1),
 ('Celia', 1),
 ('Winnie', 1),
 ('Nina', 1),
 ('Jefferys', 1),
 ('Margareth', 1),
 ('Pieta', 1),
 ('Watson', 1),
 ('Parker', 1),
 ('Suzette', 1),
 ('Joan', 1),
 ('Laver', 1),
 ('Countess', 1),
 ('of', 1),
 ('Noel', 1),
 ('DyerEdwards', 1),
 ('Eliza', 1),
 ('Needs', 1),
 ('Virginia', 1),
 ('Scott', 1),
 ('McMillan', 1),
 ('Banoura', 1),
 ('Adrian', 1),
 ('Vera', 1),
 ('Gillespie', 1),
 ('Stella', 1),
 ('Farnham', 1),
 ('Mara', 1),
 ('Baptiste', 1),
 ('Paula', 1),
 ('Govaert', 1),
 ('Harvey', 1),
 ('Tate', 1),
 ('Natalia', 1),
 ('Norman', 1),
 ('Campbell', 1),
 ('Griggs', 1),
 ('Ebba', 1),
 ('Iris', 1),
 ('Wendla', 1),
 ('Melville', 1),
 ('Jennings', 1),
 ('Gregg', 1),
 ('Beila', 1),
 ('Nelson', 1),
 ('Evelyn', 1),
 ('Antoni', 1),
 ('Selini', 1),
 ('Sara', 1),
 ('Rebecca', 1),
 ('Edwiga', 1),
 ('Grabowska', 1),
 ('Nourelain', 1),
 ('Conover', 1),
 ('Courtenay', 1),
 ('Lilian', 1),
 ('Sam', 1),
 ('Leah', 1),
 ('Rosen', 1),
 ('Dennick', 1),
 ('Hitchcock', 1),
 ('Latifa', 1),
 ('Qurban', 1),
 ('Joel', 1),
 ('Welles', 1),
 ('Barron', 1),
 ('Dolly', 1),
 ('Karolina', 1),
 ('Duran', 1),
 ('More', 1),
 ('Asuncion', 1),
 ('Richard', 1),
 ('Leonard', 1),
 ('Sallie', 1),
 ('Wizosky', 1),
 ('Kiamie', 1),
 ('Jr', 1),
 ('Alexenia', 1),
 ('Wilson', 1),
 ('Imanita', 1),
 ('Gerda', 1),
 ('Ulrika', 1),
 ('Norton', 1),
 ('Carrie', 1)]

In [45]:
# f_surnames = list()
# f_names = list()
# ff_names = list()
# for fname in female_names:
# #     print(fname)
#     if not ',' in fname:
#         print(fname)
#         continue
#     surname,name = fname.split(',')[0],fname.split(',')[1]
# #     print(surname)
# #     print(name)
#     f_surnames.append(surname)
#     if 'Mrs.' in name or 'MRS.' in name:
#         n = name[5:]
#     if 'Mss.' in name or 'MSS.' in name:
#         n = name[6:]
#     if 'Ms.' in name or 'MS.' in name:
#         n = name[4:]
#     n = n.strip()
#     ff_names.append(n)
#     for i in range(len(n)):
#         if n[i]==' ':
#             nn = n[:i+1]
# #             print(i, nn)
#             f_names.append(nn.strip())
#             break
#         if i==len(n)-1:
#             f_names.append(n)

In [46]:
# count = 0
# for name in f_names:
#     if 'ANNA' in name.upper():
#         count+=1
# print(count)

In [47]:
# len(set(f_names)), len(f_names), f_names

In [48]:
# name = 'Mrs. ABCD'

In [49]:
# print(name[4:])

In [50]:
# len(ff_names), len(f_names), len(female_names)

In [51]:
# # x = np.array([1,1,1,2,2,2,5,25,1,1])
# y = np.bincount(f_names)
# ii = np.nonzero(y)[0]

In [52]:
# unique_elements, counts_elements = np.unique(f_names, return_counts=True)

In [53]:
# print(set(counts_elements))

In [54]:
# for count, name in enumerate(zip(counts_elements, unique_elements)):
#     print(count, name)